/* Selector by tag */
h1
{
    color: rgba(165, 81, 42, 0.489);
    font-style: italic;
}
h2
{
    color:blueviolet;
    font-style: initial;
    font-size: 5rem;
}
p
{
    color:chartreuse}
article h2
{
    color:burlywood
}
article 
{
    color: darkgoldenrod;
}
ul{
    color: crimson;
}
/* Selector by class */

